<div id="follow-icons">
    <a href="http://github.com/egonny"><i class="fa fa-github-square fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/egon-okerman-23994549"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="mailto:hi@egon.me"><i class="fa fa-envelope-square fa-2x"></i></a>
    <a href="{{@blog.url}}/rss"><i class="fa fa-rss-square fa-2x"></i></a> 
</div>